<div class="container">
  <div class="row">
    <div class="col">
      <div class="login-card">
        {{#if blog.content}}
          <h2 class="page-title">Update Blog</h2>
        {{else}}
          <h2 class="page-title">Create Blog</h2>
        {{/if}}
        <form class="form blog-creation-form">
          <div class="mb-3">
            <label for="blog-title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="blog-title"
              value="{{blog.title}}"
            />
            {{! Hidden property used inside js file }}
            <input
              type="hidden"
              class="form-control"
              id="blog-user-id"
              value="{{user_id}}"
            />
            <input
              type="hidden"
              class="form-control"
              id="blog-id"
              value="{{blog.id}}"
            />
          </div>
          <div class="mb-3">
            <label for="blog-content" class="form-label">Content</label>
            <textarea
              type="text"
              class="form-control"
              id="blog-content"
            >{{blog.content}}</textarea>
          </div>
          <div class="form-group">
            {{#if blog.content}}
              <button class="btn btn-dark" type="submit">Update</button>
            {{else}}
              <button class="btn btn-dark" type="submit">Create</button>
            {{/if}}
          </div>
        </form>
        {{#if blog.content}}
          <button class="btn btn-dark" type="button">Delete</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<script src="../js/blog.js"></script>